---
# Splunk admin user
splunk_admin_user: admin
splunk_admin_password: admin!23

# CTF Answer Service Account. Not tested using admin.
splunk_bots_casa_user: canbanaboy
splunk_bots_casa_password: admin!23

# BOTS Admin User
splunk_bots_admin_user: "{{ splunk_admin_user }}"
splunk_bots_admin_password: "{{ splunk_admin_password }}"